body{
    background-color: #FF7644;
}
.div-login{
    background-color: white;
    margin-top: 15%;
}
.form-control{
    border: none !important;
    border-radius: 0;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
    border-bottom-color: #AFAFAF !important;
    color: black;
}
.form-control:focus{
    box-shadow: none !important;
}
.form-control::placeholder{
    color: #AFAFAF;
}
.btn-submit{
    background-color: #FF7644;
    color: white;
    font-weight: 700;
}
.btn-submit:hover{
    color: white;
}
.form-check-label{
    color: gray;
}
.link-password{
    color: #FF7644;
}
.link-password:hover{
    color: #FF7644;
}
.div-link{
    margin-top: 150px;
}
