<template>
    <div class="container content">
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="title">REGISTRAR VISITA</h5>
            </div>
            <form class="col-12 mt-4" action="/visits/store" method="post">
                <input type="hidden" name="_token" v-bind:value="csrf">
                <div class="form-group col-lg-7 mx-auto">
                    <select class="form-control create-input select-input" name="client_id" required>
                        <option value="" selected disabled>Cliente*</option>
                        <option v-for="(client, index) in clients" :key="index" :value="client.id">{{ client.business_name }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="name" class="form-control create-input" placeholder="Nombre de la empresa o persona a visitar*" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select v-model="selected_state" class="form-control create-input select-input" name="state" required>
                        <option value="" selected disabled>Estado*</option>
                        <option v-for="(state, index) in states" :key="index" :value="state.nombre">{{ state.nombre }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select class="form-control create-input select-input" name="municipality" required>
                        <option value="" selected disabled>Municipio*</option>
                        <option v-for="(municipality, index) in state_municipalities" :key="index" :value="municipality">{{ municipality }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" class="form-control create-input" placeholder="Calle y número*" name="street" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" class="form-control create-input" placeholder="Colonia*" name="neighborhood" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="number" class="form-control create-input" placeholder="Código Postal" name="zipcode">
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="number" class="form-control create-input" placeholder="Teléfono" name="phone">
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" class="form-control create-input" placeholder="Responsable" name="responsable">
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <div class="col-12 form-row">
                        <div class="col-6">
                            <label class="label" for="">La verificación requiere entrevista</label>
                        </div>
                        <div class="col-6 text-right form-inline text-truncate">
                            <label for="required" class="ml-auto mr-2 label">No</label>
                            <div class="custom-control  custom-switch label">
                                <input v-model="required" type="checkbox" class="custom-control-input" id="required" name="interview">
                                <label class="custom-control-label" for="required">Si</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select class="form-control create-input select-input" name="survey_id" :required="required">
                        <option value="" selected disabled>Encuesta*</option>
                        <option v-for="(survey, index) in surveys" :key="index" :value="survey.id">{{ survey.name }}</option>
                    </select>
                </div>
                <div class="col-lg-7 mx-auto text-right mt-4">
                    <a href="/visits" class="btn btn-link text-decoration-none btn-cancel">
                       CANCELAR
                    </a>
                    <button type="submit" class="btn btn-submit px-4">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>

    import states from '../../assets/states.json'
    import municipalities from '../../assets/municipalities.json'

    export default{
        props:['csrf','clients','surveys'],
        data: () => ({
            states: states,
            municipalities:municipalities,
            selected_state:"",
            state_municipalities:[],
            required:false
        }),

        watch:{
            'selected_state':function(val){
                for(let prop in this.municipalities){
                    if(prop == val){
                        this.state_municipalities = this.municipalities[prop]
                        break
                    }
                }
            }
        }
    }

</script>
