<style scoped>
/*modal logout*/
.modal {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.modal-content {
    border: none;
}

.modal-logout .modal-header {
    border-bottom: none;
}

.modal-logout .modal-header .modal-title {
    color: #FF7644;
    font-weight: 700;
}

.modal-logout .modal-body p {
    color: rgb(143, 142, 142);
}

.modal-logout .modal-footer {
    border-top: none;
}

.modal-logout .modal-footer .logout-cancel {
    color: black;
}

.modal-logout .modal-footer .logout-submit {
    background-color: #FF7644;
    color: white;
}

.modal-backdrop {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

/*modal logout*/
</style>
<template>
<div>
    <div class="modal fade" id="import" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content modal-logout shadow">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto">IMPORTAR VISITAS</h5>
                </div>
                <div class="modal-body px-5">
                    <template v-if="errors">
                        <div class="alert alert-danger text-center" role="alert">
                            Ha ocurrido un error al válidar el archivo, verifique que todos los campos sean correctos.
                        </div>
                    </template>
                    <div class="form-group">
                        <select v-model="client_id" class="form-control create-input select-input" name="client_id" required>
                            <option value="" selected disabled>Cliente*</option>
                            <option v-for="(client, index) in clients" :key="index" :value="client.id">{{client.business_name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select v-model="survey_id" class="form-control create-input select-input" name="client_id" required>
                            <option value="" selected disabled>Encuesta*</option>
                            <option v-for="(survey, index) in surveys" :key="index" :value="survey.id">{{survey.name}}</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input name="file" @change="loadCSV" type="file" class="custom-file-input" id="file" aria-describedby="file">
                            <label class="custom-file-label" for="file">{{ file_name }}</label>
                        </div>
                        <div class="input-group-append div-button-file py-0">
                            <button class="btn btn-outline-secondary btn-file" type="button" id="file_button">
                                <span class="far fa-file-image fa-sm"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer px-5">
                    <button type="button" class="btn btn-link text-decoration-none logout-cancel" data-dismiss="modal">
                        CANCELAR
                    </button>
                    <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#show" class="btn logout-submit px-3" :disabled="btn_disabled">
                        CARGAR
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="show" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content modal-logout shadow">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto">IMPORTAR VISITAS</h5>
                </div>
                <div class="modal-body">
                    <p class="label text-center">Se importarán <strong>{{total_imports}}</strong> domicilios diferentes para verificar a nombre de <strong>{{client_name}}</strong></p>
                    <table class="table table-index">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Domicilio</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data, index) in parse_csv" :key="index">
                                <td>{{ data.Nombre }}</td>
                                <td>{{ data.calle+" "+data.numero+", "+data.municipio }}</td>
                                <td>{{ data.estado }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer px-5">
                    <button type="button" class="btn btn-link text-decoration-none logout-cancel" data-dismiss="modal" :hidden="btn_cancel">
                        CANCELAR
                    </button>
                    <button type="button" @click="submit" class="btn logout-submit px-3" v-html="btn_text" :disabled="disabled_submit">
                        {{ btn_text }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="success" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-logout shadow">
                <div class="modal-header">
                    <h5 class="modal-title mx-auto">ATENCIÓN</h5>
                </div>
                <div class="modal-body">
                    <p class="text-center label">Visitas exportadas correctamente</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn logout-submit px-3" data-dismiss="modal">
                        ACEPTAR
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    props: ['clients', 'surveys'],
    data: () => ({
        file_name: "Archivo",
        channel_name: '',
        channel_fields: [],
        channel_entries: [],
        total_imports: "",
        btn_disabled: true,
        errors: false,
        client_name: "",
        survey_id: "",
        btn_cancel:false,
        btn_text:"GUARDAR",
        client_id: "",
        disabled_submit:false,
        parse_header: [],
        submit_url:"/visits/import/store",
        parse_csv: [],
        sortOrders: {},
        sortKey: ''
    }),
    mounted(){
        $('#success').on('hidden.bs.modal', function (e) {
          location.reload()
        })
    },
    watch: {
        'client_id': function(val) {
            for (var i = 0; i < this.clients.length; i++) {
                if (this.clients[i].id == val) {
                    this.client_name = this.clients[i].business_name
                }
            }
            this.check_before()
        },

        'parse_csv': function() {
            this.total_imports = this.parse_csv.length
            if (this.total_imports >= 1) {
                for (var i = 0; i < this.parse_csv.length; i++) {
                    if (this.parse_csv[i].Nombre != "" && this.parse_csv[i].estado != "" && this.parse_csv[i].municipio != "" && this.parse_csv[i].calle != "" && this.parse_csv[i].colonia != "") {
                        if (!isNaN(this.parse_csv[i].numero)) {
                            // if(){
                            //
                            // }
                            this.errors = false
                            this.check_before()
                        } else {
                            this.total_imports = 0
                            this.parse_csv = []
                            this.errors = true
                            this.check_before()

                            break
                        }
                    } else {
                        this.total_imports = 0
                        this.parse_csv = []
                        this.errors = true
                        this.check_before()
                        break
                    }
                }
            } else {
                this.errors = true
                this.check_before()
            }
            this.check_before()
        },

        'survey_id': function() {
            this.check_before()
        }
    },
    filters: {
        capitalize: function(str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
        }
    },
    methods: {
        sortBy: function(key) {
            var vm = this
            vm.sortKey = key
            vm.sortOrders[key] = vm.sortOrders[key] * -1
        },
        csvJSON(csv) {
            var vm = this
            var lines = csv.split("\n")
            var result = []
            var headers = lines[0].split(",")

            for (var i = 0; i < headers.length; i++) {
                headers[i] = headers[i].trim()
            }

            vm.parse_header = lines[0].split(",")
            lines[0].split(",").forEach(function(key) {
                vm.sortOrders[key] = 1
            })

            lines.map(function(line, indexLine) {
                if (indexLine < 1) return

                var obj = {}
                var currentline = line.split(",")

                headers.map(function(header, indexHeader) {
                    obj[header] = currentline[indexHeader]
                })

                result.push(obj)
            })

            // result.pop()

            return result
        },
        loadCSV(e) {
            this.file_name = event.target.files[0].name
            var vm = this
            if (window.FileReader) {
                var reader = new FileReader();
                reader.readAsText(e.target.files[0]);
                reader.onload = function(event) {
                    var csv = event.target.result;
                    vm.parse_csv = vm.csvJSON(csv)
                };
                reader.onerror = function(evt) {
                    if (evt.target.error.name == "NotReadableError") {
                        alert("El archivo selecionado no es válido");
                    }
                };
            } else {
                alert('FileReader are not supported in this browser.');
            }
        },
        'check_before': function() {
            if (this.client_name != "" && this.survey_id != "" && this.total_imports > 0) {
                this.btn_disabled = false
            } else {
                this.btn_disabled = true
            }
        },
        'submit':function(){

            var data = new Object()
            data.client_id = this.client_id
            data.survey_id = this.survey_id
            data.parse_csv = this.parse_csv

            this.disabled_submit = true
            this.btn_cancel = true
            this.btn_text = '<i class="fas fa-spinner fa-pulse mr-2"></i> Cargando...'

            axios.post(this.submit_url, data)
            .then(response => {
                if(response.data.status == 200){
                    $('#show').modal('hide')
                    $('#success').modal('show')
                }
            })
        }

    }
}
</script>
