<template>

    <div class="container content">
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="title">EDITAR VERIFICADOR</h5>
            </div>
            <form class="col-12 mt-3" :action="update_url" method="POST">
                <input type="hidden" name="_token" v-bind:value="csrf">
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="name" class="form-control create-input" placeholder="Nombre*" required :value="verifier.name">
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="last_name" class="form-control create-input" placeholder="Apellidos*" required :value="verifier.last_name">
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <div class="col-12 create-input form-row mx-0">
                        <div class="col-6">
                            <label class="label" for="gender">Sexo*</label>
                        </div>
                        <div class="col-6 text-right">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderMale" value="Male" :checked="verifier.gender == 'Male'">
                                <label class="form-check-label label" for="genderMale">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="Female" :checked="verifier.gender == 'Female'">
                                <label class="form-check-label label" for="genderFemale">Femenino</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="number" name="age" class="form-control create-input" placeholder="Edad*" min="18" max="99" :value="verifier.age" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select v-model="verifier.civil_status" class="form-control create-input select-input" name="civil_status">
                        <option value="" selected disabled>Estado civil*</option>
                        <option value="Single">Soltero/a</option>
                        <option value="Married">Casado/a</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <div class="col-12 create-input form-row mx-0">
                        <div class="col-6">
                            <label class="label" for="gender">¿Tiene vehículo propio?*</label>
                        </div>
                        <div class="col-6 text-right">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="vehicle" id="vehicleYes" value="1" :checked="verifier.vehicle == true">
                                <label class="form-check-label label" for="vehicleYes">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="vehicle" id="vehicleNo" value="0" :checked="verifier.vehicle == false">
                                <label class="form-check-label label" for="vehicleNo">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select v-model="selected_state" class="form-control create-input select-input" name="state" required>
                        <option value="" selected disabled>Estado*</option>
                        <option v-for="(state, index) in states" :key="index" :value="state.nombre">{{ state.nombre }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select v-model="selected_municipality" class="form-control create-input select-input" name="municipality" required>
                        <option value="" disabled selected>Municipio*</option>
                        <option v-for="(municipality, index) in state_municipalities" :key="index" :value="municipality">{{ municipality }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="number" name="phone" class="form-control create-input" min="0" placeholder="Teléfono*" :value="verifier.phone" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select v-model="verifier.bank" class="form-control create-input select-input" name="bank" required>
                        <option value="" selected disabled>Banco*</option>
                        <option v-for="(bank, index) in banks" :key="index" :value="bank">{{ bank }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" class="form-control create-input select-input" placeholder="Cuenta deposito*" name="bank_account" :value="verifier.bank_account" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <label class="create-label" for="status">Estatus*</label>
                    <input v-model="status" type="hidden" name="status" value="">
                    <div class="form-row">
                        <button v-for="(status, index) in statuses" :class="{'criterion-active' : status.active}" :key="index" type="button" @click="status_change(index)" class="btn btn-block btn-criterion col-4 float-left my-0 rounded-0" name="button">
                            {{ status.text }}
                        </button>
                    </div>
                </div>
                <div class="col-lg-7 mx-auto text-right mt-4">
                    <a href="/verifiers" class="btn btn-link text-decoration-none btn-cancel">
                       CANCELAR
                    </a>
                    <button type="submit" class="btn btn-submit px-4">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>

</template>
<script>
    import states from '../../assets/states.json'
    import municipalities from '../../assets/municipalities.json'
    import banks from '../../assets/banks.json'

    export default{
        props: ['csrf','verifier'],
        data: () => ({
            states: states,
            selected_state:"",
            selected_municipality:"",
            municipalities:municipalities,
            state_municipalities:[],
            banks:banks,
            update_url:"/verifiers/update/",
            status:"",
            statuses:[
                {
                    value:"Pending",
                    text:"Pendiente",
                    active:false
                },
                {
                    value:"Inactive",
                    text:"Inactivo",
                    active:false
                },
                {
                    value:"Active",
                    text:"Activo",
                    active:false

                }
            ]
        }),
        created(){
            this.selected_state = this.verifier.state
            this.update_url = this.update_url+this.verifier.id
            for (var i = 0; i < this.statuses.length; i++) {
                if(this.statuses[i].value == this.verifier.status){
                    this.status_change(i)
                    break
                }
            }
        },
        watch:{
            'selected_state':function(val){
                this.state_municipalities = []
                for(let prop in this.municipalities){
                    if(prop == val){
                        this.state_municipalities = this.municipalities[prop]
                    }
                }

                this.selected_municipality = this.verifier.municipality
            }
        },
        methods:{
            'status_change':function(index){
                for (var i = 0; i < this.statuses.length; i++) {
                    this.statuses[i].active = false
                }
                this.statuses[index].active = true
                this.status = this.statuses[index].value
            }
        }
    }
</script>
