<style scoped>
    /* navbar */
    .navbar{
        z-index: 998;
    }
    .user-data{
        border-right-style: solid;
        border-right-color: rgba(128, 128, 128, 0.397);
        border-right-width: 1px;
    }
    .user-data .nav-link{
        color: #ADADAD;
        font-size: 14px;
        font-weight: 700;
    }
    .img-user{
        width: 35px;
        height: 35px;
    }
    .dropdown-item:active{
        background-color: #FF7644;
    }
    /* fin de navbar */

    /*SIDENAV*/
    .sidenav {
        height: 100%;
        width: 150px;
        position: fixed !important;
        z-index: 997;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden !important;
        transition: 0.5s;
    }
    .row-sidenav{
        padding-top: 120px;
    }
    .circle{
        border-radius: 50%;
        border-style: solid;
        border-width: thin;
        border-color: #ADADAD;
    }
    .icon-menu{
        color: #ADADAD;
    }
    .div-sidenav-element:not(.sidenav-active) .col-12{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .text-sidenav-element span{
        font-size: 13px;
        font-weight: 700;
        color: #ADADAD;
    }
    .sidenav-active{
        border-left-style: solid;
        border-left-color: #FF7644;
        border-left-width: 7px;
        padding-left: 1.9rem !important;
        padding-right: 1.9rem !important;
    }
    .sidenav-active .col-12{
        left: -3px;
    }
    .sidenav-active .text-sidenav-element{
        position: relative;
        left: -3px;
    }
    .sidenav-active .circle{
        background-color: #FF7644;
        border-color: #FF7644;
    }
    .sidenav-active .circle .icon-menu{
        color:white;
    }
    .sidenav-active .text-sidenav-element span{
        color: #FF7644;
    }
    /*FIN SIDENAV*/

    /*modal logout*/
    .modal {
        background-color: rgba(255, 255, 255, 0.8) !important;
    }
    .modal-content{
        border:none;
    }
    .modal-logout .modal-header{
        border-bottom: none;
    }
    .modal-logout .modal-header .modal-title{
        color: #FF7644;
        font-weight: 700;
    }
    .modal-logout .modal-body p{
        color: rgb(143, 142, 142);
    }
    .modal-logout .modal-footer{
        border-top: none;
    }
    .modal-logout .modal-footer .logout-cancel{
        color: black;
    }
    .modal-logout .modal-footer .logout-submit{
        background-color: #FF7644;
        color: white;
    }
    .modal-backdrop {
        background-color: rgba(255, 255, 255, 0.8) !important;
    }
    /*modal logout*/
</style>
<template>

    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/indexmerca.png" class="img-fluid" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item user-data px-3 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{user.name}}
                                <img v-if="user.avatar" :src="user.avatar_path + user.avatar" class="img-fluid img-user mx-2 rounded-circle" alt="">
                                <img v-else src="/images/avatars/user.png" class="img-fluid img-user mx-2 rounded-circle" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logout">Cerrar sesión</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown my-auto px-3">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-lg"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="sidenav shadow-lg" id="sidenav">
            <div class="container-fluid">
                <div class="row row-sidenav">

                    <a v-for="(item, index) in menu" :key="index" :href="item.url" :class="{ 'sidenav-active' : item.active }" class="div-sidenav-element rounded-0 btn btn-link px-0 mx-0 my-0 text-decoration-none w-100 py-3">
                        <div class="col-12 text-center">
                            <div class="circle py-2">
                                <span class="fas fa-2x icon-menu mx-auto my-auto" :class="item.icon"></span>
                            </div>
                        </div>
                        <div class="text-sidenav-element">
                            <span>{{ item.text }}</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>


        <div class="modal fade" id="logout" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-logout shadow">
                    <div class="modal-header">
                        <h5 class="modal-title">ATENCIÓN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_token" v-bind:value="csrf">
                        <div class="modal-body">
                            <p class="text-center">
                                ¿Realmente desea cerrar sesión?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link text-decoration-none logout-cancel" data-dismiss="modal">
                                CANCELAR
                            </button>
                            <button type="submit" class="btn logout-submit px-3">
                                ACEPTAR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</template>
<script>

export default {

    props:['csrf'],

    data: () => ({
        menu : [
            {
                text:"Visitas",
                url:"/visits",
                icon:"fa-clipboard-list",
                active:false
            },
            {
                text:"Clientes",
                url:"/clients",
                icon:"fa-building",
                active:false
            },
            {
                text:"Verificadores",
                url:"/verifiers",
                icon:"fa-user-friends",
                active:false
            },
            {
                text:"Encuestas",
                url:"/surveys",
                icon:"fa-copy",
                active:false
            },
            {
                text:"Usuarios",
                url:"/users",
                icon:"fa-cog",
                active:false
            }   
        ],

        user: {
            avatar_path:"/images/avatars/",
            name :"",
            avatar:""
        },
    }),

    created(){
        axios.get('/users/authenticated').then(response => {
            this.user.name = response.data.user.name
            this.user.avatar = response.data.user.avatar
        })

        var pathname = window.location.pathname;
        for (let i = 0; i < this.menu.length; i++) {
            if(pathname.includes(this.menu[i].url)){
                this.menu[i].active = true
                break
            }
        }
    }
}
</script>
