<style scoped>
/*modal logout*/
.modal {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.modal-content{
    border:none;
}
.modal-logout .modal-header{
    border-bottom: none;
}
.modal-logout .modal-header .modal-title{
    color: #FF7644;
    font-weight: 700;
}
.modal-logout .modal-body p{
    color: rgb(143, 142, 142);
}
.modal-logout .modal-footer{
    border-top: none;
}
.modal-logout .modal-footer .logout-cancel{
    color: black;
}
.modal-logout .modal-footer .logout-submit{
    background-color: #FF7644;
    color: white;
}
.modal-backdrop {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
/*modal logout*/
</style>
<template>

    <div class="container content">
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="title">CREAR ENCUESTA</h5>
            </div>
            <form class="col-12 mt-3" v-on:submit.prevent="submit($event)" action="" method="POST">
                <input type="hidden" name="_token" v-bind:value="csrf">
                <div class="form-group col-lg-7 mx-auto">
                    <input v-model="survey_name" type="text" name="name" class="form-control create-input" placeholder="Título*" required>
                </div>
                <div class="col-lg-7 mx-auto mt-4">
                    <h6 class="title">Preguntas</h6>
                </div>
                <!-- <div class="col-lg-7 mx-auto mb-3">
                    <button type="button" class="btn btn-submit">
                        AGREGAR PREGUNTA
                        <i class="fas fa-plus-circle ml-3"></i>
                    </button>
                </div> -->

                <div v-for="(question,index) in questions" :key="index" class="col-lg-7 mx-auto shadow py-3 mb-3">
                    <div class="col-12 form-row">
                        <div class="col-10">
                            <h6 class="label mb-0 mt-1 text-truncate">{{ question.name }}</h6>
                        </div>
                        <div class="col-2 text-right px-0">
                            <!-- <button type="button" id="edit" @click="edit(index)" class="btn btn-sm btn-question">
                                <i class="fas fa-pencil-alt"></i>
                            </button> -->
                            <button type="button" id="delete" @click="remove(index)" class="btn btn-sm btn-question" name="button">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 mx-auto mt-3 py-3 shadow">
                    <div class="form-group col-12">
                        <select v-model="selected_type" data-show-content="true" class="form-control create-input select-input" name="type">
                            <option value="" selected disabled>Tipo de pregunta*</option>
                            <option v-for="(type,index) in types" :key="index" :value="type.type">{{ type.name }}</option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <input v-model="question_name" type="text" name="question_name" class="form-control create-input" placeholder="Pregunta*">
                    </div>

                    <div class="col-12 mb-4 mx-auto" :class="{ 'hidde-form': !show_div }">
                        <h6 class="title">Opciones</h6>
                        <div v-for="(option,index) in options" :key="index" class="col-12 form-row mb-3">
                            <div class="col-1 px-0 text-center mt-2">
                                <i class="far fa-dot-circle title mx-auto"></i>
                            </div>
                            <input v-model="option.text" class="form-control create-input col-10 mx-auto" type="text" placeholder="Opción">
                            <div class="col-1 px-0 text-center">
                                <button type="button" class="btn btn-link text-decoration-none text-dark px-0" @click="remove_option(index)" name="button">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 mt-4 text-center">
                            <button type="button" class="btn btn-sm btn-question" @click="add_option" name="button">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-12 form-inline mt-4">
                        <div class="custom-control ml-auto custom-switch label">
                            <input v-model="required" type="checkbox" class="custom-control-input" id="required">
                            <label class="custom-control-label" for="required">Obligatoria</label>
                        </div>
                        <label for="save" class="label ml-3 mr-1 mb-0">Guardar</label>
                        <button type="button" @click="save" id="save" class="btn btn-sm btn-question" name="button">
                            <i class="fas fa-save"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-7 mx-auto text-right mt-4 px-0">
                    <a href="/surveys" class="btn btn-link text-decoration-none btn-cancel">
                       CANCELAR
                    </a>
                    <button type="submit" class="btn btn-submit px-4" :disabled="button_disabled == true" v-html="button_text">
                        {{button_text}}
                    </button>
                </div>
            </form>
        </div>

        <div class="modal fade" id="success" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal-logout shadow">
                    <div class="modal-header">
                        <h5 class="modal-title">ATENCIÓN</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">
                            Encuesta registrada correctamente
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn logout-submit px-3">
                            ACEPTAR
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>
<script>
    export default{
        props:['csrf'],
        data:() => ({
            survey_name:"",
            types:[
                {
                    name:"Respuesta libre",
                    type:"text"
                },
                {
                    name:"Número",
                    type:"number"
                },
                {
                    name:"Opción múltiple",
                    type:"radio"
                },
                {
                    name:"Casillas de verificación",
                    type:"checkbox"
                },
                {
                    name:"Lista desplegable",
                    type:"select"
                },
                {
                    name:"Archivo",
                    type:"file"
                },
                {
                    name:"Fecha",
                    type:"date"
                },
                {
                    name:"Hora",
                    type:"time"
                }
            ],
            selected_type:"",
            question_name:"",
            button_text:"GUARDAR",
            store_url:"/surveys/store",
            button_disabled:false,
            required:false,
            show_div:false,
            questions:[],
            options:[
                {
                    text:""
                }
            ]
        }),

        mounted(){
            $('#success').on('hidden.bs.modal', function (e) {
                location.reload();
            });
        },

        watch:{
            'selected_type':function(val){
                if (this.selected_type != ""){
                    if(val == 'radio' || val == 'checkbox' || val == 'select'){
                        this.show_div = true
                    }else{
                        this.show_div = false
                        this.options = [{text:""}]
                    }
                }
            }
        },

        methods:{
            'save':function(){
                if(this.selected_type != "" && this.question_name != ""){
                    this.questions.push({
                        id: '_' + Math.random().toString(36).substr(2, 9),
                        name: this.question_name,
                        type: this.selected_type,
                        required: this.required,
                        options: this.options
                    })
                    this.options = [{text:""}]
                    this.selected_type = ""
                    this.question_name = ""
                    this.required = false
                    this.show_div = false
                }
            },

            'edit':function(index){
                alert(index)
            },

            'remove':function(index){
                this.questions.splice(index,1)
            },

            'add_option':function(){
                this.options.push({
                    text:""
                })
            },

            'remove_option':function(index){
                if(this.options.length > 1){
                    this.options.splice(index,1)
                }
            },

            'submit':function(event){
                var status = false
                var total_questions = this.questions.length
                if(total_questions > 0){
                    if(this.survey_name != ""){
                        status = true
                    }
                }

                if(status){
                    this.button_disabled = true
                    this.button_text = '<i class="fas fa-spinner fa-pulse mr-2"></i> Cargando...'
                    var data = new Object()
                    data.name = this.survey_name
                    data.total_questions = total_questions
                    data.questions = this.questions

                    axios.post(this.store_url,data)
                    .then(response => {
                        $('#success').modal('show')
                    })
                    .catch(error => {
                        console.log(error)
                    })
                }
            }
        }
    }
</script>
