<style scoped>
    .content{
        background-color: white;
    }
</style>
<template>
    <div class="container content shadow py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="title">{{survey.name}}</h3>
            </div>
            <div class="col-12 mt-4">

                <div v-for="(question, index) in  questions" :key="index" class="form-group col-xl-7 mx-auto mb-4">
                    <label :for="question.id">{{ question.name }}</label>

                    <template v-if="question.type == 'text'">
                        <input type="text" class="form-control create-input" :id="question.id" :name="question.id" placeholder="Ingrese la resupuesta" :required="question.required == true">
                    </template>

                    <template v-if="question.type == 'select'">
                        <select class="form-control create-input select-input" :name="question.id" :required="question.required == true">
                            <option value="" selected disabled>Seleccione una opción</option>
                            <option v-for="(option, index) in question.options" :value="option.text">{{option.text}}</option>
                        </select>
                    </template>

                    <template v-if="question.type == 'file'">
                        <div class="input-group">
                            <div class="custom-file">
                                <input :name="question.id" type="file" class="custom-file-input" :id="question.id" :required="question.required == true">
                                <label class="custom-file-label" for="avatar">Archivo</label>
                            </div>
                            <div class="input-group-append div-button-file py-0">
                                <button class="btn btn-outline-secondary btn-file" type="button" id="">
                                    <span class="far fa-file-image fa-sm"></span>
                                </button>
                            </div>
                        </div>
                    </template>

                    <template v-if="question.type == 'date'">
                        <input type="date" :name="question.id" :id="question.id" class="form-control create-input" :required="question.required == true">
                    </template>

                    <template v-if="question.type == 'time'">
                        <input type="time" :id="question.id" :name="question.id" class="form-control create-input" :required="question.required == true">
                    </template>

                    <template v-if="question.type == 'number'">
                        <input type="number" :name="question.id" :id="question.id" class="form-control create-input" placeholder="Ingrese número" :required="question.required == true">
                    </template>

                    <template v-if="question.type == 'radio'">
                        <div class="">
                            <div v-for="(option, index) in question.options" class="custom-control custom-radio custom-control-inline">
                                <input type="radio" :id="question.id+'-'+index" :name="question.id" class="custom-control-input" :value="option.text">
                                <label class="custom-control-label" :for="question.id+'-'+index">{{option.text}}</label>
                            </div>
                        </div>
                    </template>

                    <template v-if="question.type == 'checkbox'">
                        <div class="">
                            <div v-for="(option, index) in question.options" class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" :name="question.id" :id="question.id+'-'+index" :required="question.required == true">
                              <label class="custom-control-label" :for="question.id+'-'+index">{{option.text}}</label>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col-lg-7 mx-auto text-right mt-4">
                <a href="/surveys" class="btn btn-submit">
                   REGRESAR
                </a>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        props:['survey'],
        data: () => ({
            questions:[]
        }),

        mounted(){
            this.questions = JSON.parse(this.survey.questions)
        }

    }
</script>
