.content{
    margin-top: 140px;
    margin-bottom: 40px;
}
.title{
    color: #FF7644;
    font-weight: 700;
}
.create-input{
    border-radius: 0;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: gray;
}
.create-label{
    color: rgb(143, 142, 142);
}
.create-input:focus{
    box-shadow: none;
    border-bottom-color: gray;
}
.create-input::placeholder{
    color: rgb(143, 142, 142);
}
.create-input.select-input{
    color: rgb(143, 142, 142);
}
.btn-cancel{
    color: rgb(143, 142, 142);
    font-size: 14px;
    font-weight: 700;
}
.btn-cancel:hover{
    color: black;
}
.btn-submit{
    background-color: #FF7644;
    color:white;
    font-size: 14px;
    font-weight: 700;
}
.btn-submit:hover{
    color: white;
}
.btn-file{
    border-radius: 50% !important;
    background-color: #FF7644;
    color: white;
    border-color: #FF7644;
}
.btn-file:active{
    background-color: #FF7644 !important;
    color: white !important;
    border-color: #FF7644 !important;
}
.btn-file:focus{
    box-shadow: none !important;
}
.custom-file-label{
    color: rgb(143, 142, 142);
}
.label{
    color: rgb(143, 142, 142);
}
.btn-file:hover{
    border-radius: 50%;
    background-color: #FF7644;
    color: white;
    border-color: #FF7644;
}
.custom-file-label{
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: gray;
    border-radius: 0;
}
.custom-file-label::after{
    content: "Seleccionar archivo" !important;
    color: rgb(143, 142, 142);
    background-color: white;
}
.hidde-form{
    display: none;
}
.btn-criterion{
    border-color: rgb(143, 142, 142);
    color: rgb(143, 142, 142);
}
.btn-criterion:focus{
    box-shadow: none;
}
.btn-criterion.criterion-active{
    border-color: #FF7644;
    color: #FF7644;
    font-weight: 700;
    border-width: 3px;
}
.btn-question{
    color: rgb(143, 142, 142);
}
.btn-question:focus{
    box-shadow: none;
}
.btn-question{
    background-color: #FF7644;
    color: white;
    border-radius: 50%;
}
.btn-question:hover{
    color: white;
}
.custom-control-input:checked ~ .custom-control-label::before{
    border-color: #FF7644;
    background-color: #FF7644;
}
