.content{
    margin-top: 140px;
}
@media screen and (min-width: 992px){
    .content{
        padding-left: 90px;
        padding-right: 90px;
    }
}
.form-search{
    border-radius: 0;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: gray;
}
.form-search::placeholder{
    color: rgb(143, 142, 142);
}
.form-search:focus{
    box-shadow: none;
    border-bottom-color: gray;
}
.btn-search{
    border-radius: 0;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: gray;
}
.btn-new{
    background-color: #FF7644;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.btn-new:hover{
    color: white;
}
.btn-new:focus{
    box-shadow: none;
    color: white;
}
.table-index thead tr th{
    color: rgb(143, 142, 142);
    font-weight: 700;
    border-top: none;
}
.table-index tbody tr td{
    color: rgb(143, 142, 142);
}
.table-index thead{
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.table-index thead tr th{
    border-bottom: none;
}
.btn-action{
    color: white;
    border-radius: 50%;
    background-color: #FF7644;
}
.btn-action:hover{
    color: white;
}
.btn-action:focus{
    box-shadow: none;
}
.pagination{
    margin-bottom: 0px;
    justify-content: flex-end;
}
.page-item.disabled .page-link{
    color: rgb(143, 142, 142);
    border-color: transparent;
    background-color: transparent;
}
.page-item.active .page-link{
    color: #FF7644;
    border-color: transparent;
    background-color: transparent;
}
.page-link:hover{
    color: #FF7644;
    border-color: transparent;
    background-color: transparent;
}
.page-link{
    color: rgb(143, 142, 142);
    border-color: transparent;
    border-radius: 0px;
    background-color: transparent;
}
.icon-records{
    color: #FF7644;
}
