<template>
    <div class="container content">
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="title">EDITAR USUARIO</h5>
            </div>
            <form class="col-12 mt-3" :action="update_url" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_token" v-bind:value="csrf">
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="name" class="form-control create-input" placeholder="Nombre*" :value="user.name" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="email" name="email" class="form-control create-input" placeholder="Correo*" :value="user.email" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <label class="create-label" for="role">Rol*</label>
                    <select v-model="selected_role" class="form-control create-input select-input" name="role" required>
                        <option value="" disabled selected>Seleciona un rol</option>
                        <option v-for="(role, index) in roles" :key="index" :value="role.value">{{ role.value }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto" :class="{ 'hidde-form':show_criterion_form }">
                    <label class="create-label" for="criterion">Criterio de supervisión</label>
                    <input v-model="selected_criterion" type="hidden" name="criterion" value="">
                    <div class="form-row">
                        <button v-for="(criterion, index) in criterions" :class="{'criterion-active' : criterion.active}" :key="index" @click="criterion_change(index)" type="button" class="btn btn-block btn-criterion col-6 float-left my-0 rounded-0" name="button">
                            {{ criterion.text }}
                        </button>
                    </div>
                </div>
                <div class="form-group col-lg-7 mx-auto" :class="{ 'hidde-form': show_client_form }">
                    <label class="create-label" for="client_id">Cliente*</label>
                    <select v-model="selected_client" class="form-control create-input select-input" name="client_id">
                        <option value="" disabled selected>Seleccione un cliente</option>
                        <option v-for="(client, index) in clients" :key="index" :value="client.id">{{client.business_name}}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto" :class="{ 'hidde-form': show_states_form }">
                    <label for="state" class="create-label">Estado*</label>
                    <select v-model="selected_state" class="form-control create-input select-input" name="state">
                        <option value="" selected disabled>Seleccione un estado</option>
                        <option v-for="(state, index) in states" :key="index" :value="state.nombre">{{ state.nombre }}</option>
                    </select>
                </div>
                <div class="input-group col-lg-7 mx-auto mt-4">
                      <div class="custom-file">
                          <input name="avatar" type="file" class="custom-file-input" @change="file_change" id="avatar" aria-describedby="avatar">
                          <label class="custom-file-label" for="avatar">{{ file_name }}</label>
                      </div>
                      <div class="input-group-append div-button-file py-0">
                          <button class="btn btn-outline-secondary btn-file" type="button" id="avatar_button">
                              <span class="far fa-file-image fa-sm"></span>
                          </button>
                      </div>
                </div>
                <div class="input-group col-lg-7 mx-auto mt-4">
                    <input type="password" class="form-control create-input" name="password" placeholder="nueva contraseña">
                </div>
                <div class="input-group col-lg-7 mx-auto mt-4">
                    <input type="password" class="form-control create-input" name="password_confirmation" placeholder="Validar contraseña">
                </div>
                <div class="col-lg-7 mx-auto text-right mt-4">
                    <a href="/users" class="btn btn-link text-decoration-none btn-cancel">
                       CANCELAR
                    </a>
                    <button type="submit" class="btn btn-submit px-4">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import states from '../../assets/states.json'

    export default{
        props : ['csrf','user','role','clients'],
        data: () => ({
            roles:[
                {value: "Administrador"},
                {value: "Cliente"},
                {value: "Supervisor"}
            ],
            criterions:[
                {
                    value:"Client",
                    active:false,
                    text:"Por cliente"
                },
                {
                    value:"State",
                    active:false,
                    text:"Por estado"
                }
            ],
            selected_criterion:"",
            selected_role:"",
            states: states,
            update_url:"",
            file_name:"Cambiar avatar",
            selected_client:"",
            selected_state:"",
            show_client_form:true,
            show_criterion_form:true,
            show_states_form:true,
        }),

        mounted(){

            this.user.client_id ? this.selected_client = this.user.client_id : this.selected_client = ""
            this.user.state ? this.selected_state = this.user.state : this.selected_state = ""
            this.update_url = '/users/update/'+this.user.id

            for (var i = 0; i < this.role.length; i++) {
                this.selected_role = this.role[i]
            }

            this.selected_criterion = this.user.criterion
        },

        watch: {
            'selected_role':function(val){
                this.selected_criterion = ""
                for (var i = 0; i < this.criterions.length; i++) {
                    this.criterions[i].active = false
                }
                if(val != "Administrador"){
                    if(val == "Cliente"){
                        this.show_client_form = false
                        this.show_criterion_form = true
                        this.show_states_form = true
                    }else{
                        this.selected_criterion = this.user.criterion
                        this.show_client_form = true
                        this.show_criterion_form = false
                        this.show_states_form = true
                    }
                }else{
                    this.show_client_form = true
                    this.show_criterion_form = true
                    this.show_states_form = true
                }
            },

            'selected_criterion':function(val){
                for (var i = 0; i < this.criterions.length; i++) {
                    if(this.criterions[i].value == val){
                        this.criterions[i].active = true
                        this.criterion_change(i)
                        break
                    }
                }
            }
        },

        methods:{
            'file_change':function(event){
                this.file_name = event.target.files[0].name
            },
            'criterion_change':function(index){
                for (var i = 0; i < this.criterions.length; i++) {
                    this.criterions[i].active = false
                }
                this.criterions[index].active = true
                this.selected_criterion = this.criterions[index].value
                if(this.criterions[index].value == 'Client'){
                    this.show_client_form = false
                    this.show_states_form = true
                }else{
                    this.show_client_form = true
                    this.show_states_form = false
                }
            }
        }
    }
</script>
