<template>

    <div class="container content">
        <div class="row">
            <div class="col-12 text-center">
                <h5 class="title">REGISTRAR CLIENTE</h5>
            </div>
            <form class="col-12 mt-3" action="/clients/store" method="POST">
                <input type="hidden" name="_token" v-bind:value="csrf">
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="business_name" class="form-control create-input" placeholder="Nombre o Razón Social*" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="responsable" class="form-control create-input" placeholder="Responsable">
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select v-model="data.selected_state" class="form-control create-input select-input" name="state" required>
                        <option value="" selected disabled>Estado*</option>
                        <option v-for="(state, index) in states" :key="index" :value="state.nombre">{{ state.nombre }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <select v-model="data.selected_municipality" name="municipality" class="form-control create-input select-input" required>
                        <option value="" selected disabled>Municipio*</option>
                        <option v-for="(municipality, index) in state_municipalities" :key="index" :value="municipality">{{ municipality }}</option>
                    </select>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="street" class="form-control create-input" placeholder="Calle y número*" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="neighborhood" class="form-control create-input" placeholder="Colonia*" required>
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="number" name="zipcode" class="form-control create-input" placeholder="Código Postal">
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="number" name="phone" class="form-control create-input" placeholder="Teléfono">
                </div>
                <div class="form-group col-lg-7 mx-auto">
                    <input type="text" name="rfc" class="form-control create-input" placeholder="R.F.C.">
                </div>
                <div class="col-lg-7 mx-auto text-right mt-4">
                    <a href="/clients" class="btn btn-link text-decoration-none btn-cancel">
                       CANCELAR
                    </a>
                    <button type="submit" class="btn btn-submit px-4">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>

</template>
<script>
    import municipalities from "../../assets/municipalities.json"
    import states from "../../assets/states.json"

    export default {
        props : ['csrf'],
        data: () => ({
           states : states,
           municipalities: municipalities,
           state_municipalities : [],
           data: {
               selected_state:"",
               selected_municipality:"",
           }
        }),

        watch: {
            'data.selected_state':function(val){
                this.state_municipalities = []
                for(let prop in this.municipalities){
                    if(prop == val){
                        this.state_municipalities = this.municipalities[prop]
                    }
                }
            }
        }
    }
</script>
